# History files
.Rhistory
.Rapp.history
scripts/.DS_Store
.Rproj.user

output/*.pdf
scripts/manuscript/*.docx

# Session Data files
.RData
.DS_Store
scripts/.DS_Store
data/.DS_Store
output/.DS_Store
output/figs/.DS_Store

# R Environment Variables
.Renviron

# data download file
scripts/00_data_download.R

# folders
scripts/old/*
data/raw/*
output/figs/*
data/clean/old_data.zip

# html files
scripts/*.html
scripts/02a_contact_analysis_main_v2_files
scripts/extract_aim2_metadata_files


