 # History files
.Rhistory
.Rapp.history
scripts/.DS_Store
.Rproj.user

output/*.pdf
scripts/manuscript/*.docx
scripts/manuscript

# Session Data files
.RData
.DS_Store
scripts/.DS_Store
data/clean/.DS_Store
output/.DS_Store
output/figs/.DS_Store

# R Environment Variables
.Renviron

# data
output/
scripts/
data/sensor_metadata
data/clean/old_data1.zip
data/clean/old_data2.zip
data/clean/old_data3_09Aug2024.zip
data/hh_survey_date.csv
data/clean/moz_participant_data_aim1_v2.RDS
data/clean/moz_participant_data_aim1_v3.RDS
data/clean/moz_contact_data_aim1_v2.RDS
data/clean/moz_contact_data_aim1_v3.RDS
data/clean/moz_contact_data_aim2.RDS
data/clean/pop_dist_ines_2021.csv

# some manuscript files
manuscript/01_main_mozambique_manuscript_doc.docx
manuscript/01_main_mozambique_manuscript_doc.rmarkdown
manuscript/Text_for_Moses.docx
manuscript/01_main_mozambique_manuscript_doc_files
manuscript/02_mozambique_analysis_code_files

### all below here unnecessary
moz_household_survey_aim1_v2.RDS
moz_participant_data_aim2.RDS
moz_household_survey_aim2.RDS

# script files
scripts/cleaning/
scripts/cleaning/00_data_download.R
scripts/01_contact_data_cleaning_main.Rmd
scripts/manuscript/model_figs_presentation.qmd
scripts/cleaning/01a_cleaning_note_machi.R

# folders
scripts/old
data/raw/*
data/clean/old_data.zip


# html files
scripts/*.html
scripts/02a_contact_analysis_main_v2_files
scripts/extract_aim2_metadata_files
scripts/manuscript/

# sensor files
data/sensor_metadata/




